body {
  overflow-x: hidden;
  font-family: Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

#title {
  color: rgba(0, 0, 0, 0.377);
  font-size: 500%;
  text-align: center;
  margin-top: 1.5%;
  user-select: none;
  transition: all 0.5s;
}
#title:hover {
  scale: 1.05;
}

.inst {
  transition: all 0s !important;
}

:root {
  --color1: #003a1d;
  --color2: #006100;
  --color3: #008b00;
  --color4: #38B000;
  --color5: #c0ffa2;
}

:root {
  --color1: #03045E;
  --color2: #023E8A;
  --color3: #0077B6;
  --color4: #00B4D8;
  --color5: #ADE8F4;
}

:root {
  --color1: #FF4800;
  --color2: #FF6000;
  --color3: #FF7900;
  --color4: #ff9a42;
  --color5: #fc9b47;
  --color6: #f3cba9;
}

body {
  overflow: hidden;
  margin: 0px;
  color: rgba(0, 0, 0, 0.377);
  user-select: none;
}

#section-container {
  display: inline-flex;
}

.section {
  width: 33.3333333333vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
.section:hover {
  z-index: 10;
  transform: scaleX(1.1);
}
.section.selected {
  z-index: 15;
  transform: scaleX(3);
}
.section.selected#chem-section {
  translate: -33.3333333333vw 0 0;
}
.section.selected#bio-section {
  translate: 33.3333333333vw 0 0;
}

.section-title {
  user-select: none;
  transition: inherit;
  text-align: center;
  margin-top: 4%;
  font-size: 300%;
  color: rgba(0, 0, 0, 0.377);
}
.section-title:hover {
  scale: 1.1;
}
.selected .section-title {
  transform: scaleX(0.3333333333);
  margin-top: 5%;
  font-size: 500%;
}

.sub-sect-container {
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  width: 70%;
  left: 15%;
  top: 30%;
  transition: all 0.5s;
}
.selected .sub-sect-container {
  visibility: visible;
  opacity: 100%;
  transform: scaleX(0.3333333333);
  width: 70vw;
  left: calc(50% - 35vw);
}

.sub-sect {
  font-size: 300%;
  width: 100%;
  height: 15vh;
  border-radius: 2vh;
  margin-bottom: 3vh;
  transition: inherit;
  display: flex;
  align-items: center;
}
.sub-sect:hover {
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.205);
}

.sub-sect-title {
  position: absolute;
  left: 10%;
  flex: 1;
}

#chem-section {
  background-image: linear-gradient(#0077B6, #00B4D8);
}
#chem-section .section-icon {
  background-image: url(../img/chem-icon.png);
}

#phy-section {
  background-image: linear-gradient(#FF7900, #ff9a42);
}
#phy-section .section-icon {
  background-image: url(../img/physics-icon.png);
}

#bio-section {
  background-image: linear-gradient(#008b00, #38B000);
}
#bio-section .section-icon {
  background-image: url(../img/biology-icon.png);
}