$title-color: rgba(0, 0, 0, 0.377);

body {
    overflow-x: hidden;
    font-family: Consolas, 'Courier New', monospace;
}
body::-webkit-scrollbar{
    display:none;
}

#title {
    color: $title-color;
    font-size: 500%;    
    text-align: center;
    margin-top: 1.5%;
    user-select: none;

    transition: all .5s;

    &:hover {
        scale: 1.05;
    }
}

.inst {
    transition: all 0s !important;
}