$answer-width: 80%;

$answer-color: rgb(184, 184, 184);
$answer-correct-color: green;
$answer-incorrect-color: red;

body {
    font-family: Arial, Helvetica, sans-serif;
}

#quiz-title {
    // position: absolute;
    top: 10%;
    text-align: center;
    font-size: 300%;
}

#score {
    position: absolute;
    font-size: 200%;
    top: 1vh;
    left: 1vh;
    user-select: none;
}

#question {
    margin-top: 10%;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

#answer-container {
    position: absolute;
    top: 50%;
    width: $answer-width;
    height: 25%;
    left: calc(50% - $answer-width / 2 );
    display: inline-flex;
}

@keyframes correct-animation {
    0% {
        transform: rotateY(0);
    }

    12.4% {
        color: transparent;
        background-color: $answer-color;
    }

    12.5% {
        background-color: $answer-correct-color;
        color: transparent;
    }

    25% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(180deg);
    }

    87.5% {
        background-color: $answer-correct-color;
        color: transparent;
    }
    87.6% {
        color: transparent;
        background-color: $answer-color;
    }

    0% {
        transform: rotateY(0);
    }
}

@keyframes incorrect-animation {
    0% {
        transform: rotateY(0);
    }

    12.4% {
        color: transparent;
        background-color: $answer-color;
    }

    12.5% {
        background-color: $answer-incorrect-color;
        color: transparent;
    }

    25% {
        transform: rotateY(180deg);
    }

    75% {
        transform: rotateY(180deg);
    }

    87.5% {
        background-color: $answer-incorrect-color;
        color: transparent;
    }
    87.6% {
        color: transparent;
        background-color: $answer-color;
    }

    0% {
        transform: rotateY(0);
    }
}

.answer {
    width: 22%;
    margin-right: 4%;
    background-color: $answer-color;
    height: 100%;

    text-align: center;

    border-radius: 3vh;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;

    transition: all .5s;

    &.correct {
        animation: correct-animation 1s;
        // anim
    }

    &.incorrect {
        animation: incorrect-animation 1s;
    }
}

.answer-text {
    user-select: none;
    font-size: 300%;
}

.answer:last-child {
    margin-right: 0%;
}