$color1: #03045E;
$color2: #023E8A;
$color3: #0077B6;
$color4: #00B4D8;
$color5: #ADE8F4;

:root {
    --color1: #{$color1};
    --color2: #{$color2};
    --color3: #{$color3};
    --color4: #{$color4};
    --color5: #{$color5};
}