$color1: #FF4800;
$color2: #FF6000;
$color3: #FF7900;
$color4: #ff9a42;
$color5: #fc9b47;
$color6: #f3cba9;

:root {
    --color1: #{$color1};
    --color2: #{$color2};
    --color3: #{$color3};
    --color4: #{$color4};
    --color5: #{$color5};
    --color6: #{$color6};
}