body {
  background-image: linear-gradient(var(--color3), var(--color4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  overflow-x: hidden;
  font-family: Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

#title {
  color: rgba(0, 0, 0, 0.377);
  font-size: 500%;
  text-align: center;
  margin-top: 1.5%;
  user-select: none;
  transition: all 0.5s;
}
#title:hover {
  scale: 1.05;
}

.inst {
  transition: all 0s !important;
}

:root {
  --color1: #FF4800;
  --color2: #FF6000;
  --color3: #FF7900;
  --color4: #ff9a42;
  --color5: #fc9b47;
  --color6: #f3cba9;
}

#calculator {
  width: 80vw;
  height: 70vh;
  margin-left: 10vw;
  margin-top: 5vh;
}