body {
  background-image: linear-gradient(var(--color3), var(--color4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  overflow-x: hidden;
  font-family: Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

#title {
  color: rgba(0, 0, 0, 0.377);
  font-size: 500%;
  text-align: center;
  margin-top: 1.5%;
  user-select: none;
  transition: all 0.5s;
}
#title:hover {
  scale: 1.05;
}

.inst {
  transition: all 0s !important;
}

#sim-container {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: calc(50% - 30vh);
  left: calc(50% - 30vw);
  background-color: red;
}