$color1: #003a1d;
$color2: #006100;
$color3: #008b00;
$color4: #38B000;
$color5: #c0ffa2;

:root {
    --color1: #{$color1};
    --color2: #{$color2};
    --color3: #{$color3};
    --color4: #{$color4};
    --color5: #{$color5};
}