$biology-color1: #003a1d;
$biology-color2: #006100;
$biology-color3: #008b00;
$biology-color4: #38B000;
$biology-color5: #c0ffa2;

:root {
    --color1: #{$biology-color1};
    --color2: #{$biology-color2};
    --color3: #{$biology-color3};
    --color4: #{$biology-color4};
    --color5: #{$biology-color5};
}