@use "../background.scss";
@use "../base.scss" as *;
@use "../themes/physics.scss" as *;

#simulation-selection {
    border-style: none;
    user-select: none;
    color: $title-color;
    background-color: $color3;
    font-size: 150%;

    appearance: none;
}

$container-height: 60vh;
$container-width: 60vw;
#sim-container {
    position: absolute;
    width: $container-width;
    height: $container-height;
    top: calc(50% - $container-height /2);
    left: calc(50% - $container-width / 2);

    border-color: $title-color;
    border-width: 1vh;
    border-style: solid;
}

.sim {

}

#data-visibility {
    position: absolute;
    top: 40%;
    left: 3vh;
}

.toggle-label {
    display: flex;
    flex-direction: row;
    color: $title-color;
}

$toggle-button-size: 3.5vh;
.toggle-button {
    width: $toggle-button-size;
    height: $toggle-button-size;

    border-style: solid;
    border-width: 2px;
    border-color: $title-color;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

.toggle-center {
    width: 2.6vh;
    height: 2.6vh;
    visibility: hidden;
    background-color: $title-color;
    .toggle-button[data-toggle="true"] > &{
        visibility: visible;
    }
}

$play-button-size: 7vh;
#play-sim-button {
    background-image: url("../../img/play-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;

    filter: opacity(.377);

    position: absolute;
    width: $play-button-size;
    height: $play-button-size;
    left: 1vh;
    top: 1vh;

    transition: scale .5s;
    &:hover {
        scale: 1.1;
    }

    &[data-state="paused"] {
        background-image: url("../../img/circled-pause.png");
    }
    &[data-state="replay"] {
        background-image: url("../../img/replay.png");
    }
}

@mixin has-label {
    display: flex;
}

.label-container {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    translate: 50%;
}

.car {
    position: absolute;
    width: 7vh;
    height: 7vh;

    left: -3.5vh;
    top: -3.5vh;

    background-color: $title-color;

    @include has-label();
}

@mixin car-label {
    user-select: none;
    color: $title-color;
    // position: absolute;
    font-size: 125%;
    text-align: center;
    width: 10vh;

    translate: calc(-50%) -7.5vh;
}

.pos-label {
    @include car-label;
    &::after {
        content: "m"
    }

    visibility: hidden;
    #sim-container[data-pos="true"] & {
        visibility: visible;
    }
}

.vel-label {
    @include car-label;
    &::after {
        content: "m/s"
    }

    visibility: hidden;
    #sim-container[data-vel="true"] & {
        visibility: visible;
    }
}
.acc-label {
    @include car-label;
    &::after {
        content: "m/s²"
    }

    visibility: hidden;
    #sim-container[data-acc="true"] & {
        visibility: visible;
    }
}

.v-target-line {
    position: absolute;
    width: 0.1vh;
    height: 20vh;

    left: -0.05vh ;
    top: -10vh;
    background-color: $title-color;

    @include has-label();
}

// Acceleration sim
#acceleration-sim {
    visibility: hidden;
    #sim-container[data-sim="acceleration"] & {
        visibility: visible;
    }   
}

#acc-sim-car {
    translate: 10vw calc($container-height / 2);
}

#acc-sim-line {
    translate: 50vw calc($container-height / 2);
}