@use "../background.scss";
@use "../base.scss";

$container-height: 60vh;
$container-width: 60vw;
#sim-container {
    position: absolute;
    width: $container-width;
    height: $container-height;
    top: calc(50% - $container-height /2);
    left: calc(50% - $container-width / 2);

    background-color: red;
}

.sim {

}