body {
  overflow-x: hidden;
  font-family: Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

#title {
  color: rgba(0, 0, 0, 0.377);
  font-size: 500%;
  text-align: center;
  margin-top: 1.5%;
  user-select: none;
  transition: all 0.5s;
}
#title:hover {
  scale: 1.05;
}

.inst {
  transition: all 0s !important;
}

:root {
  --color1: #03045E;
  --color2: #023E8A;
  --color3: #0077B6;
  --color4: #00B4D8;
  --color5: #ADE8F4;
}

body {
  background-color: #0077B6;
  color: white;
  font-family: Consolas, "Courier New", monospace;
}

#title {
  color: white;
  font-size: 500%;
  text-align: center;
  margin-top: 1.5%;
  transition: all 0.5s;
  font-family: Consolas, "Courier New", monospace;
}
#title:hover {
  transform: scale(1.05);
}

.answer {
  font-family: Consolas, "Courier New", monospace;
}

#question {
  font-family: Consolas, "Courier New", monospace;
  font-size: large;
}

#score {
  margin-top: 2vh;
  margin-left: 2vw;
  font-family: Consolas, "Courier New", monospace;
  font-size: 300%;
}